@import "../_variables.scss";

@media (min-width: 768px) {

    .about_container {
        width: 700px;
        margin: 0 auto;

        h2 {
            margin-left: 25px;
            // text-align: left;
        }

        .about_content {
            flex-wrap: nowrap;

            img {
                width: 40%;
                margin: 0 20px 0 0;
            }

            p {
                border: solid 3px white;
                margin: auto 0;
                width: 60%;
            }
        }
    }

    .skills_container {
        width: 700px;
        margin: 50px auto;
    }

    .previous_work_container {
        width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 993px) {

    .about_container {
        width: 925px;
        .about_content {
            p {
                margin: auto 0;
            }

            .card {
                width: 450px
            }
            .card::after {
                width: 450px;
            }
        }
    }

    .skills_container {
        width: 925px;

        .skill_box {
            width: auto;
            flex-direction: row;
            justify-content: space-between;
            margin: 35px 0;

            img {
                width: 20%;
                height: 100%;
                margin-right: 25px;
            }
            
            p {
                border: solid 3px white;
                width: 80%;
            }
        }

        .skill_box:nth-of-type(2),
        .skill_box:nth-of-type(4) {
            flex-direction: row-reverse;
            img {
                margin: 0 0 0 25px;
            }
        }
    }

    .previous_work_container {
        width: 925px;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
            width: 400px;
        }
    }
}

@media (min-width: 1278px) {

    p {
        font-size: 4rem;
    }

    .about_container {
        width: 1210px;
        .about_content {
            p {
                width: 100%;
            }
        }
    }

    .skills_container {
        width: 1210px;
    }

    .previous_work_container {
        width: 1210px;
    }
}