@import "../_variables.scss";

@media (min-width: 750px) {
    header {
        .header_container {
            width: 725px;
            margin: 0 auto;
            
        }
    }

    footer {
        .footer_container {
            display: flex;
            width: 725px;
            margin: 0 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: left;
            .block {
                width: 30%;
                h2 {
                    font-size: 5rem;
                    line-height: 5rem;
                }
                a {
                    text-align: center;
                    margin-bottom: 20px;
                    // // font-size: 3rem;
                    // line-height: 3rem;
                    // margin: 10px 0 0 20px;
                }
            }
        }
    }
}

@media (min-width: 975px) {
    header {
        .header_container {
            width: 950px;
            align-items: center;

            .navigation_bar {
                flex-direction: row;
                justify-content: space-around;

                // a:last-of-type {
                //     display: none;
                // }
            }
        }
    }

    footer {
        .footer_container {
            width: 950px;

        }
    }
}

@media (min-width: 1260px) {
    header {
        .header_container {
            width: 1235px;
            .navigation_bar {
                // a:last-of-type {
                //     display: block;
                // }
            }
        }
    }

    footer {
        .footer_container {
            width: 1235px;
        }
    }
}