@import "../_variables.scss";

@media (min-width: 750px) {
    header {
        // border-top: 50px solid transparent;

        .header_container {
            width: 725px;
            margin: 0 auto;

            .navigation_bar {
                
            }
        }
    }
}

@media (min-width: 975px) {
    header {
        .header_container {
            width: 950px;
            align-items: center;

            .navigation_bar {
                flex-direction: row;
                justify-content: space-around;
                height: 475px;

                .blocks {
                    width: 20%;
                    // height: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    border: solid 1px white;
                    line-height: 100px;
                    margin: auto 0;
                }

                .blocks:last-of-type {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1260px) {
    header {
        .header_container {
            width: 1235px;
            .navigation_bar {

                .blocks {

                }
                .blocks:last-of-type {
                    display: block;
                }

            }
        }
    }
}