@import "../_variables.scss";

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC';
    font-size: 62.5%;
}

header,
footer {
    width: 100%;
    background: black;
    background-image: url(../Images/Chalkboard.png);
    border-image: url(../Images/Dark_Wood_Frame_X.png) 150 repeat; // default 50
    padding: 25px 0;
}

header {
    display: block;
    height: 600px;
    border-bottom: 50px solid transparent;
    .header_container {
        height: 100%;
        vertical-align: middle;
        h1 {
            margin: 0;
            padding: 0;
            text-transform: lowercase;
            color: white;
            width: 100%;
            text-align: center;
            font-size: 10rem;
            
        }
        .navigation_bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;
            justify-content: space-between;

            .blocks {
                width: 100%;
                text-align: center;
                margin-bottom: 50px;

                a {
                    text-transform: lowercase;
                    text-decoration: none;
                    font-size: 5rem;
                    color: white;
                }
    
                a:hover {
                    color: $green_hover;
                    text-decoration: none;
                }
            }

        }
    }
}

footer {
    border-top: 50px solid transparent;
    margin-top: 50px;
    .footer_container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .block {
            padding: 25px;
            h2 {
                font-size: 6rem;
                line-height: 6rem;
                margin: 0 0 25px;
                padding: 0;
            }
            a {
                margin: 10px 0 0;
                display: block;
                text-decoration: none;
                letter-spacing: 3px;
            }
            a:hover {
                color: $green_hover;
            }
        }
    }
}


@import "_header_svg.scss";
@import "_header_footer_media.scss";