html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC';
}

header,
footer {
  width: 100%;
  color: white;
  background: black;
  background-image: url(../Images/Chalkboard.png);
  -o-border-image: url(../Images/Dark_Wood_Frame_X.png) 150 repeat;
     border-image: url(../Images/Dark_Wood_Frame_X.png) 150 repeat;
  padding: 25px 0;
}

header {
  display: block;
  border-bottom: 50px solid transparent;
}

header .header_container {
  height: 100%;
  vertical-align: middle;
}

header .header_container h1 {
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 10rem;
}

header .header_container .navigation_bar {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_container .navigation_bar a {
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 5rem;
  color: white;
}

header .header_container .navigation_bar a:hover {
  color: #32CD32;
  text-decoration: none;
}

footer {
  border-top: 50px solid transparent;
  margin-top: 50px;
}

footer .footer_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .footer_container .block {
  padding: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_container .block h2 {
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  margin: 0 0 25px;
  padding: 0;
}

footer .footer_container .block a {
  font-size: 3rem;
  line-height: 3rem;
  display: block;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
}

footer .footer_container .block a:hover {
  color: #32CD32;
}

#about_tree {
  stroke: white;
}

@media (min-width: 750px) {
  header .header_container {
    width: 725px;
    margin: 0 auto;
  }
  footer .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 725px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
  footer .footer_container .block {
    width: 30%;
  }
  footer .footer_container .block h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
  footer .footer_container .block a {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 975px) {
  header .header_container {
    width: 950px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_container .navigation_bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer_container {
    width: 950px;
  }
}

@media (min-width: 1260px) {
  header .header_container {
    width: 1235px;
  }
  footer .footer_container {
    width: 1235px;
  }
}
