html {
  font-size: 62.5%;
}

body {
  background: url(../Images/Greyscaled_Icons.png) no-repeat center center fixed, url(../Images/Background_Only_Colour.png) no-repeat center center fixed;
  background-size: cover;
}

body p, body a, body h2, body h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
  color: white;
}

body h2 {
  width: 100%;
  display: block;
  text-transform: lowercase;
  font-size: 8rem;
  line-height: 8rem;
  color: white;
  text-align: center;
}

.about_container {
  width: auto;
  padding: 0 25px;
}

.about_container .about_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  color: solid 1px green;
}

.about_container .about_content img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 25px;
  height: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.about_container .about_content p {
  background-color: #0e85c5;
  border-radius: 5px;
  padding: 20px;
  border: solid 3px white;
}

.skills_container {
  padding: 0 25px;
  width: auto;
}

.skills_container .skill_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_container .skill_box img {
  width: 200px;
  margin: 0 auto;
}

.skills_container .skill_box .adobe {
  border-radius: 10px;
}

.skills_container .skill_box p {
  font-size: 3rem;
  background-color: #0e85c5;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  margin: auto 0;
  border: solid 3px white;
}

.skills_container .skill_box:nth-of-type(2) img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.previous_work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.previous_work_container .card {
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 3px white;
  text-align: center;
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.previous_work_container .card img {
  height: 250px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.previous_work_container .card .typing_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 253px;
  row-gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previous_work_container .card .typing_content #typing_effect {
  color: black;
  margin: 0;
  padding: 20px 20px;
  font-size: 30px;
}

.previous_work_container .card .typing_content #demo_button {
  padding: 10px 20px;
  margin: 10px auto;
  width: 100px;
  font-size: 30px;
  background-color: #32CD32;
  border-radius: 5px;
}

.previous_work_container .card .typing_content #demo_button:hover {
  background-color: #269426;
}

.previous_work_container .card .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  background-color: #0e85c5;
}

.previous_work_container .card .card_content h3 {
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
}

.previous_work_container .card .card_content p {
  text-align: left;
}

.previous_work_container .card .card_content a {
  margin-top: 20px;
}

.previous_work_container .card .card_content a:hover {
  color: #32CD32;
}

@media (min-width: 768px) {
  .about_container {
    width: 700px;
    margin: 0 auto;
  }
  .about_container .about_content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about_container .about_content img {
    width: 40%;
    margin: 0 20px 0 0;
  }
  .about_container .about_content p {
    border: solid 3px white;
    margin: auto 0;
    width: 60%;
  }
  .skills_container {
    width: 700px;
    margin: 50px auto;
  }
  .previous_work_container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 993px) {
  .about_container {
    width: 925px;
  }
  .about_container .about_content p {
    margin: auto 0;
  }
  .about_container .about_content .card {
    width: 450px;
  }
  .about_container .about_content .card::after {
    width: 450px;
  }
  .skills_container {
    width: 925px;
  }
  .skills_container .skill_box {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 35px 0;
  }
  .skills_container .skill_box img {
    width: 20%;
    height: 100%;
    margin: 0 25px 0 0;
  }
  .skills_container .skill_box p {
    border: solid 3px white;
    width: 80%;
  }
  .skills_container .skill_box:nth-of-type(2),
  .skills_container .skill_box:nth-of-type(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .skills_container .skill_box:nth-of-type(2) img,
  .skills_container .skill_box:nth-of-type(4) img {
    margin: 0 0 0 25px;
  }
  .previous_work_container {
    width: 925px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .previous_work_container .card {
    width: 400px;
  }
}

@media (min-width: 1278px) {
  p {
    font-size: 4rem;
  }
  .about_container {
    width: 1210px;
  }
  .about_container .about_content p {
    width: 100%;
  }
  .skills_container {
    width: 1210px;
  }
  .previous_work_container {
    width: 1210px;
  }
}
